<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <unitTestProvider name="MsTest" />
  </specFlow>
  <appSettings>
    <add key="deviceType" value="Samsung" />
    <add key="environment" value="QA" />
    <add key="samsungDeviceName" value="CCI-SGalaxyS5-04" />
    <add key="samsungVersion" value="6.0.1" />
    <add key="motorolaDeviceName" value="MOTO G" />
    <add key="motorolaVersion" value="4.4.4" />
    <add key="browserName" value="Android" />
    <add key="platform" value="Android" />
    <add key="Timeout" value="2000" />
    <add key="ListnerURL" value="http://127.0.0.1:4723/wd/hub" />
    <add key="BungiiCustomerPackage" value="com.bungii.customer" />
    <add key="BungiiCustomerActivities" value="com.bungii.customer.ui.activities.splash.SplashScreenActivity" />
    <add key="app_StagePath" value="D:\\AUT\\app-customer-staging-debug.apk" />
    <add key="app_QaPath" value="D:\\Bungii\\AutomationData\\app-customer-qa-debug.apk" />
    <add key="PauseTimeMilliSeconds" value="1000" />
    <add key="PauseTimeLongerMilliSeconds" value="3000" />
    <add key="ImplicitlyWaitTimeoutSeconds" value="60" />
    <add key="SetScriptTimeoutSeconds" value="60" />
    <add key="SetPageLoadTimeoutSeconds" value="60" />
    <add key="WebDriverExplictTimeoutSeconds" value="45" />
    <add key="ReadyStateTimeOutSeconds" value="50" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SnapshotsDirectory" value="D:/Snapshots" />
    <add key="QA.Database.ConnectionUri" value="Data Source=MANDOVI\MSSQLSERVER2K14;Initial Catalog=BungiiQA;Persist Security Info=True;User ID=for_bungii;Password=forbungii290416" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>