<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <specFlow>
    <unitTestProvider name="MsTest" />
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
  <appSettings>
    <add key="deviceType" value="SamsungS5" /> <!--SamsungS5 | SamsungS6 | MotoG4 | MotoG | Nokia6-->
    <add key="Environment" value="QA" /> <!--Stage | QA-->
    
    <add key="SamsungS6DeviceName" value="1215fc0d090c2b03" /> <!--CCI-SGalaxyS6-01-->
    <add key="SamsungS6Version" value="7.0" />
    <add key="SamsungS5DeviceName" value="CCI-SGalaxyS5-01" />
    <add key="SamsungS5Version" value="5.0" />
    <add key="MotoG4DeviceName" value="Moto G4 Plus" />
    <add key="MotoG4Version" value="4.4.4" />
    <add key="MotoGDeviceName" value="Moto G" />
    <add key="MotoGVersion" value="5.0" />
    <add key="NokiaDeviceName" value="Nokia 6.1" />
    <add key="NokiaVersion" value="8.1.0" />
    
    <add key="BrowserName" value="Android" />
    <add key="Platform" value="Android" />    
    <add key="Browser" value="Chrome" />

    <add key="BrowserDirectory" value="D:/WebDrivers" />
    <add key="ApplicationCustomerUrl" value="http://127.0.0.1:4723/wd/hub"/>
    <add key="ApplicationDriverUrl" value="http://127.0.0.1:4725/wd/hub"/>    
    <add key="ListnerURL" value="http://127.0.0.1:4723/wd/hub" />
    <add key="BungiiCustomerPackage" value="com.bungii.customer" />
    <add key="BungiiCustomerActivities" value="com.bungii.customer.ui.activities.splash.SplashScreenActivity" />
    <add key="app_customerStagePath" value="D:\\Bungii\\AutomationData\\bungii-customer-staging-debug_timezone_changes.apk" />
    <add key="app_customerQaPath" value="D:\\Bungii\\AutomationData\\APKs\\bungii-customer-qa-debug.apk" />
    <add key="app_driverStagePath" value="" />
    <add key="app_driverQaPath" value="D:\\Bungii\\AutomationData\\APKs\\bungii-driver-qa-debug.apk" />
    <add key="Admin_URL_Dev" value="http://devcore.bungii.ccigoa:8189/admin/Login" />
    <add key="Admin_URL_QA" value="http://portalqa.bungii.ccigoa:8189/Admin/Login" />
    <add key="Admin_URL_Stage" value="https://portal.gobungii-stage.com/admin/Login" />
    <add key="DriverSimulator_Stage" value="https://simulator.gobungii-stage.com/Simulator/Driver"/>
    <add key="SnapshotsDirectory" value="D:/Snapshots/Android" />
    <add key="QA.Database.ConnectionUri" value="Data Source=MANDOVI\MSSQLSERVER2K14;Initial Catalog=BungiiQA;Persist Security Info=True;User ID=for_bungii;Password=forbungii290416" />

    <add key="Timeout" value="2000" />
    <add key="PauseTimeMilliSeconds" value="1000" />
    <add key="PauseTimeLongerMilliSeconds" value="3000" />
    <add key="ImplicitlyWaitTimeoutSeconds" value="60" />
    <add key="SetScriptTimeoutSeconds" value="60" />
    <add key="SetPageLoadTimeoutSeconds" value="60" />
    <add key="WebDriverExplictTimeoutSeconds" value="45" />
    <add key="ReadyStateTimeOutSeconds" value="50" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>