<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	</configSections>
	<specFlow>
		<unitTestProvider name="MsTest" />
	</specFlow>
	<appSettings>
		<add key="samsungdeviceName" value="CCI-SGalaxyS5-02"/>
		<add key="Version" value="6.0.1"/>
		<add key="BrowserName" value="Android"/>
		<add key="Platform" value="Android"/>
		<add key="BungiiCustomerPackage" value="com.bungii.customer"/>
		<add key="BungiiCustomerActivities" value="com.bungii.customer.ui.activities.splash.SplashScreenActivity"/>
		<add key="Timeout" value="2000"/>
		<add key="URL" value="http://127.0.0.1:4723/wd/hub"/>
		<add key="customerapp_stage" value="C:\\Android Auto\\Bungii apk\\Sprint 22\\app-customer-staging-debug.apk"/>
		<add key="customerapp_qa" value="D:\\Automation\\Projects\\Bungii1 - Copy\\app-customer-qa-debug.apk"/>
	</appSettings>
</configuration>