<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    </configSections>
    <specFlow>
      <unitTestProvider name="MsTest" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="Admin_URL_QA" value="http://portalqa.bungii.ccigoa:8189/Admin/Login" />
    <add key="Driver_URL_QA" value="http://portalqa.bungii.ccigoa:8189/Driver/Login" />
    <add key="Admin_URL_Stage" value="https://portal.gobungii-stage.com/admin/Login" />
    <add key="Driver_URL_Stage" value="https://portal.gobungii-stage.com/driver/Login" />
  </appSettings>
</configuration>