<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    </configSections>
    <specFlow>
      <unitTestProvider name="MsTest" />
    </specFlow>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="BrowserDirectory" value ="D:\WebDrivers"/>
    <add key="Admin_URL_QA" value="http://portalqa.bungii.ccigoa:8189/Admin/Login" />
    <add key="Driver_URL_QA" value="http://portalqa.bungii.ccigoa:8189/driver" />
    <add key="Admin_URL_Stage" value="https://portal.gobungii-stage.com/admin/Login" />
    <add key="Driver_URL_Stage" value="https://portal.gobungii-stage.com/driver" />
    <add key ="ImagePath" value="D:\Bungii\AutomationData"/>
    <add key="QA.Database.ConnectionUri" value="Data Source=MANDOVI\MSSQLSERVER2K14;Initial Catalog=BungiiQA;Persist Security Info=True;User ID=for_bungii;Password=forbungii290416" />
    <add key="PauseTimeMilliSeconds" value="1000" />
    <add key="PauseTimeLongerMilliSeconds" value="3000" />
    <add key="ImplicitlyWaitTimeoutSeconds" value="60" />
    <add key="SetScriptTimeoutSeconds" value="60" />
    <add key="SetPageLoadTimeoutSeconds" value="60" />
    <add key="WebDriverExplictTimeoutSeconds" value="45" />
    <add key="ReadyStateTimeOutSeconds" value="50" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SnapshotsDirectory" value="D:/Snapshots/Web" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>